<app-breadcrumb
  [breadcrumbContent]="breadcrumbContent"
  [themeColor]="themeColor">
</app-breadcrumb>
<div class="wp_res-tool">
  <div class="wp_res-tool-header d-flex align-items-center">
    <p>模組A</p>
  </div>
</div>
<div class="wp_res-tool">
  <div class="wp_res-tool-header d-flex align-items-center">
    <p>模組B</p>
  </div>
</div>
<div class="wp_res-tool">
  <div class="wp_res-tool-header d-flex align-items-center">
    <p>模組C</p>
  </div>
</div>
<div class="wp_res-tool">
  <div class="wp_res-tool-header d-flex align-items-center">
    <p>模組D</p>
  </div>
</div>
<div class="wp_res-tool">
  <div class="wp_res-tool-header d-flex align-items-center">
    <p>模組E</p>
  </div>
</div>
<div class="wp_res-tool">
  <div class="wp_res-tool-header d-flex align-items-center">
    <p>模組F</p>
  </div>
</div>
<div class="wp_res-tool">
  <div class="wp_res-tool-header d-flex align-items-center">
    <p>模組G</p>
  </div>
</div>
<div class="wp_res-tool">
  <div class="wp_res-tool-header d-flex align-items-center">
    <p>模組H</p>
  </div>
</div>