<div class="img-area text-center">
  <div>
    <img class="w-75" src="../../../assets/img/cover_main@2x.png" alt="Main">
  </div>
  <div class="mt-5 float-right">
    <img src="../../../assets/img/cover_main2@2x.png" alt="Main Title" style="max-height: 40px;">
  </div>
</div>
<div class="news-area">
  <div class="news-block">
    <h3>動態標題</h3>
    <div class="row mb-4 mt-3">
      <div class="col-9">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in rhoncus metus, et vestibulum ipsum. Sed
          pellentesque
          sit amet arcu commodo egestas. Duis a mi convallis magna ullamcorper rhoncus eu a quam. Curabitur auctor, lacus
          vitae porttitor commodo, risus ante lacinia eros, ut pellentesque augue enim vel sapien.
      </div>
      <div class="col-3 d-flex align-items-center justify-content-center">
        <button class="btn btn-primary btn-more px-5">More</button>
      </div>
    </div>
    <hr>
  </div>
  <div class="news-block">
    <h3>動態標題</h3>
    <div class="row mb-4 mt-3">
      <div class="col-9">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in rhoncus metus, et vestibulum ipsum. Sed
        pellentesque
        sit amet arcu commodo egestas. Duis a mi convallis magna ullamcorper rhoncus eu a quam. Curabitur auctor, lacus
        vitae porttitor commodo, risus ante lacinia eros, ut pellentesque augue enim vel sapien.
      </div>
      <div class="col-3 d-flex align-items-center justify-content-center">
        <button class="btn btn-primary btn-more px-5">More</button>
      </div>
    </div>
    <hr>
  </div>
  <div class="news-block">
    <h3>動態標題</h3>
    <div class="row mb-4 mt-3">
      <div class="col-9">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in rhoncus metus, et vestibulum ipsum. Sed
        pellentesque
        sit amet arcu commodo egestas. Duis a mi convallis magna ullamcorper rhoncus eu a quam. Curabitur auctor, lacus
        vitae porttitor commodo, risus ante lacinia eros, ut pellentesque augue enim vel sapien.
      </div>
      <div class="col-3 d-flex align-items-center justify-content-center">
        <button class="btn btn-primary btn-more px-5">More</button>
      </div>
    </div>
    <hr>
  </div>
</div>
