<div class="text-center" style="height: 100vh;">
  <img src="../../../assets/img/cover_main@2x.png" alt="Main" style="width: 75%; padding-top: 60px;">
</div>
<p>cover works!</p>
<div>
  <h3>DUMMY DATA</h3>
  <p>本校自民國 16 年創立，民國 43 年在台復校， 迄今歷經 92 年，其間雖經改制、遷校，但始終秉持和諧、自主、均衡、卓越之創校宗旨，不斷精進教學 及學術研究，以期配合國家建設、社會發展的需要， 培育優秀人才。</p>
  <p></p>
  <p>本校目前擁有10個學院，分別為文、理、社會科學、法、商、外國語文、傳播、國際事務、教育學院及創新國際學院，34 個學系、1個學士學位學程（傳播學士學位學程）、1個院大一大二不分系（傳播學院大一大二不分系）、47個碩士班、10個碩士學位學程、35個博士班、4個博士學位學程，另設有14個碩士在職專班及6個全英語學位學程（亞太研究英語碩士學位學程、國際經營管理英語碩士學程、國際傳播英語碩士學程、國際研究英語碩士學位學程、亞太研究英語博士學位學程及應用經濟與社會發展英語碩士學位學程）（教學單位列表）</p>
  <p></p>
  <p>校內行政單位設有6 處：教務處、學生事務處、總務處、研究發展處、國際合作事務處、秘書處。3 室：體育室、會計室、人事室。1 館：圖書館。7 中心：公共行政及企業管理教育、社會科學資料、電子計算機、附設公務人員教育、教學發展，創新育成、華語文教學。（行政單位列表）</p>
  <p></p>
  <p>另設有10個研究中心，分別為國際關係研究、選舉研究、第三部門研究、創新與創造力研究、中國大陸研究、台灣研究、人文研究、心智大腦與學習研究、原住民族研究、華人宗教等中心。除此之外，並有附屬高級中學、附設實驗國民小學及幼稚園，本校現擁有自幼稚園、小學、中學以迄大學、碩、博士班的一貫完整學制。（研究中心列表）</p>
  <p></p>
  <p>為建立長期校務諮詢機制，97 年1 月15 日通過設置辦法成立校務諮詢委員會，設置委員 7 至 9 人，積極延攬國內外各領域之專精學者、長才，廣納建言。除校長、副校長為當然委員，其餘委員皆由校長聘任之，任期2年，以校長為召集人，針對校務相關及本校長期發展之規劃建設，擔任諮詢重任。</p>
  <p></p>
  <p>政大自建校以來，一直致力傳承人文社會科學優良傳統，以打造國際一流人文社會學術殿堂為願景，更以培養具有「人文關懷、專業創新、國際視野」的新世紀領導人為重要使命。近年，面對高教資源愈趨競爭的未來，校務工作充滿挑戰，幸賴全校教研同仁、同學的支持，始能穩定地持續前進，甚至有所突破。</p>
</div>
<div>
  <h3>DUMMY DATA</h3>
  <p>本校自民國 16 年創立，民國 43 年在台復校， 迄今歷經 92 年，其間雖經改制、遷校，但始終秉持和諧、自主、均衡、卓越之創校宗旨，不斷精進教學 及學術研究，以期配合國家建設、社會發展的需要， 培育優秀人才。</p>
  <p></p>
  <p>本校目前擁有10個學院，分別為文、理、社會科學、法、商、外國語文、傳播、國際事務、教育學院及創新國際學院，34
    個學系、1個學士學位學程（傳播學士學位學程）、1個院大一大二不分系（傳播學院大一大二不分系）、47個碩士班、10個碩士學位學程、35個博士班、4個博士學位學程，另設有14個碩士在職專班及6個全英語學位學程（亞太研究英語碩士學位學程、國際經營管理英語碩士學程、國際傳播英語碩士學程、國際研究英語碩士學位學程、亞太研究英語博士學位學程及應用經濟與社會發展英語碩士學位學程）（教學單位列表）
  </p>
  <p></p>
  <p>校內行政單位設有6 處：教務處、學生事務處、總務處、研究發展處、國際合作事務處、秘書處。3 室：體育室、會計室、人事室。1 館：圖書館。7
    中心：公共行政及企業管理教育、社會科學資料、電子計算機、附設公務人員教育、教學發展，創新育成、華語文教學。（行政單位列表）</p>
  <p></p>
  <p>
    另設有10個研究中心，分別為國際關係研究、選舉研究、第三部門研究、創新與創造力研究、中國大陸研究、台灣研究、人文研究、心智大腦與學習研究、原住民族研究、華人宗教等中心。除此之外，並有附屬高級中學、附設實驗國民小學及幼稚園，本校現擁有自幼稚園、小學、中學以迄大學、碩、博士班的一貫完整學制。（研究中心列表）
  </p>
  <p></p>
  <p>為建立長期校務諮詢機制，97 年1 月15 日通過設置辦法成立校務諮詢委員會，設置委員 7 至 9
    人，積極延攬國內外各領域之專精學者、長才，廣納建言。除校長、副校長為當然委員，其餘委員皆由校長聘任之，任期2年，以校長為召集人，針對校務相關及本校長期發展之規劃建設，擔任諮詢重任。</p>
  <p></p>
  <p>
    政大自建校以來，一直致力傳承人文社會科學優良傳統，以打造國際一流人文社會學術殿堂為願景，更以培養具有「人文關懷、專業創新、國際視野」的新世紀領導人為重要使命。近年，面對高教資源愈趨競爭的未來，校務工作充滿挑戰，幸賴全校教研同仁、同學的支持，始能穩定地持續前進，甚至有所突破。
  </p>
</div>
<div>
  <h3>DUMMY DATA</h3>
  <p>本校自民國 16 年創立，民國 43 年在台復校， 迄今歷經 92 年，其間雖經改制、遷校，但始終秉持和諧、自主、均衡、卓越之創校宗旨，不斷精進教學 及學術研究，以期配合國家建設、社會發展的需要， 培育優秀人才。</p>
  <p></p>
  <p>本校目前擁有10個學院，分別為文、理、社會科學、法、商、外國語文、傳播、國際事務、教育學院及創新國際學院，34
    個學系、1個學士學位學程（傳播學士學位學程）、1個院大一大二不分系（傳播學院大一大二不分系）、47個碩士班、10個碩士學位學程、35個博士班、4個博士學位學程，另設有14個碩士在職專班及6個全英語學位學程（亞太研究英語碩士學位學程、國際經營管理英語碩士學程、國際傳播英語碩士學程、國際研究英語碩士學位學程、亞太研究英語博士學位學程及應用經濟與社會發展英語碩士學位學程）（教學單位列表）
  </p>
  <p></p>
  <p>校內行政單位設有6 處：教務處、學生事務處、總務處、研究發展處、國際合作事務處、秘書處。3 室：體育室、會計室、人事室。1 館：圖書館。7
    中心：公共行政及企業管理教育、社會科學資料、電子計算機、附設公務人員教育、教學發展，創新育成、華語文教學。（行政單位列表）</p>
  <p></p>
  <p>
    另設有10個研究中心，分別為國際關係研究、選舉研究、第三部門研究、創新與創造力研究、中國大陸研究、台灣研究、人文研究、心智大腦與學習研究、原住民族研究、華人宗教等中心。除此之外，並有附屬高級中學、附設實驗國民小學及幼稚園，本校現擁有自幼稚園、小學、中學以迄大學、碩、博士班的一貫完整學制。（研究中心列表）
  </p>
  <p></p>
  <p>為建立長期校務諮詢機制，97 年1 月15 日通過設置辦法成立校務諮詢委員會，設置委員 7 至 9
    人，積極延攬國內外各領域之專精學者、長才，廣納建言。除校長、副校長為當然委員，其餘委員皆由校長聘任之，任期2年，以校長為召集人，針對校務相關及本校長期發展之規劃建設，擔任諮詢重任。</p>
  <p></p>
  <p>
    政大自建校以來，一直致力傳承人文社會科學優良傳統，以打造國際一流人文社會學術殿堂為願景，更以培養具有「人文關懷、專業創新、國際視野」的新世紀領導人為重要使命。近年，面對高教資源愈趨競爭的未來，校務工作充滿挑戰，幸賴全校教研同仁、同學的支持，始能穩定地持續前進，甚至有所突破。
  </p>
</div>