app-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}
app-body {
  display: block;
  margin-left: 300px;
  margin-bottom: 70px;
  padding: 32px;
  max-width: calc(100% - 300px);
}
app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}