#sidebar {
  text-align: center;
  height: 100%;
  max-width: 300px;
}
.logo-area {
  padding: 60px 60px 0 60px;
}
.menu-area {
  position: relative;
  margin-top: 100px;
}
.menu-bg {
  height: 270px;
  transition: fill 150ms linear;
}
.links-area {
  position: absolute;
  top: -8px;
  left: 118px;

  a {
    color: #555555;
  }

  & > .navbar-nav > .nav-item {
    margin-top: 1.2em;
    font-weight: 600;

    & > .navbar-nav > .nav-item {
      font-size: 14px;
      font-weight: normal;
    }
  }
}