.wp_member-area {
  margin-top: 4rem;
  margin-bottom: 1rem;

  .wp_member-thumb {
    border-radius: 50%;
    width: 150px;
    box-shadow: 5px 5px 0px 0px #8F437A;
  }
  .wp_member-desc {
    color: #868686;
    line-height: 2;
  }
  h5 {
    color: #575656;
  }
}