<app-breadcrumb
  [breadcrumbContent]="breadcrumbContent"
  [themeColor]="themeColor">
</app-breadcrumb>
<div class="wp_member-area row">
  <div class="col-3">
    <img src="../../../../assets/img/about/member-thumb_1.png" class="wp_member-thumb" alt="">
  </div>
  <div class="col-6 d-flex justify-content-center flex-column">
    <h5>主持人: 廖峻鋒 (政大資科系/數位內容學程 副教授)</h5>
    <div class="wp_member-desc">
      - 曾任Sun/Oracle教育訓練服務部資深技術講師<br>
      &nbsp;&nbsp;&nbsp;&nbsp;• 具SAI資格，多年技術訓練與教材編寫經驗<br>
      - 教學獎項: 政大績優課程、特優TA指導教師
    </div>
  </div>
</div>
<div class="wp_member-area row">
  <div class="col-3">
    <img src="../../../../assets/img/about/member-thumb_2.png" class="wp_member-thumb" alt="">
  </div>
  <div class="col-6 d-flex justify-content-center flex-column">
    <h5>協同主持人: 曾俊雄 (元智大學電機系 助理教授)</h5>
    <div class="wp_member-desc">
      - IMSOFA軟體工坊:在課餘時間指導學生學習程式<br>
      - 教學獎項: 元智大學教學優等獎
    </div>
  </div>
</div>
<div class="wp_member-area row">
  <div class="col-3">
    <img src="../../../../assets/img/about/member-thumb_3.png" class="wp_member-thumb" alt="">
  </div>
  <div class="col-6 d-flex justify-content-center flex-column">
    <h5>協同主持人: 黃登揚 (雲林科技大學 前瞻學程 助理教授)</h5>
    <div class="wp_member-desc">
      - 創立IS Lab: 課餘時間指導學生實作軟體系統<br>
      &nbsp;&nbsp;&nbsp;&nbsp;• 10年來帶領學生團隊獲76獎項，包含趨勢雲端開發競賽、中華電信創新應用大賽、Microsoft Imagine Cup等重要比賽<br>
      - 教學獎項: 教育部資通訊人才培育計畫傑出人員獎
    </div>
  </div>
</div>
<div class="wp_member-area row">
  <div class="col-3">
    <img src="../../../../assets/img/about/member-thumb_4.png" class="wp_member-thumb" alt="">
  </div>
  <div class="col-6 d-flex justify-content-center flex-column">
    <h5>計畫助理: 李伊倫 (政大資科系 專任助理)</h5>
    <div class="wp_member-desc">
      - 協助計畫行政事務、講座、工作坊等活動辦理與相關聯絡事宜<br>
      - e-mail: plus.nccu@gmail.com
    </div>
  </div>
</div>