<app-breadcrumb
  [breadcrumbContent]="breadcrumbContent"
  [themeColor]="themeColor">
</app-breadcrumb>
<div class="mt-5">
  <h3 class="wp_themed-h3">傳播與藝術類</h3>
  <img src="../../../../assets/img/resources/res-example_1.png" alt="Resources Example Image 1">
  <h3 class="wp_themed-h3">商管類</h3>
  <img src="../../../../assets/img/resources/res-example_2.png" alt="Resources Example Image 2">
  <h3 class="wp_themed-h3">醫學/醫工/醫管類</h3>
  <img src="../../../../assets/img/resources/res-example_3.png" alt="Resources Example Image 3">
</div>