<app-breadcrumb
  [breadcrumbContent]="breadcrumbContent"
  [themeColor]="themeColor">
</app-breadcrumb>
<div class="wp_res-module">
  <div class="wp_res-module-header d-flex align-items-center">
    <p>模組A</p>
    <p class="ml-auto wp_res-module-dl">DOWNLOAD</p>
    <a href="#"><i class="ml-3 fas fa-download"></i></a>
  </div>
  <div class="wp_res-module-context">
    <p>使用說明</p>
  </div>
</div>
<div class="wp_res-module">
  <div class="wp_res-module-header d-flex align-items-center">
    <p>模組B</p>
    <p class="ml-auto wp_res-module-dl">DOWNLOAD</p>
    <a href="#"><i class="ml-3 fas fa-download"></i></a>
  </div>
  <div class="wp_res-module-context">
    <p>使用說明</p>
  </div>
</div>
<div class="wp_res-module">
  <div class="wp_res-module-header d-flex align-items-center">
    <p>模組C</p>
    <p class="ml-auto wp_res-module-dl">DOWNLOAD</p>
    <a href="#"><i class="ml-3 fas fa-download"></i></a>
  </div>
  <div class="wp_res-module-context">
    <p>使用說明</p>
  </div>
</div>
<div class="wp_res-module">
  <div class="wp_res-module-header d-flex align-items-center">
    <p>模組D</p>
    <p class="ml-auto wp_res-module-dl">DOWNLOAD</p>
    <a href="#"><i class="ml-3 fas fa-download"></i></a>
  </div>
  <div class="wp_res-module-context">
    <p>使用說明</p>
  </div>
</div>