<div class="row wp_mainscreen" style="height: calc(100vh - 70px);">
  <div class="col-4 d-flex justify-content-center align-items-end flex-column">
    <h1 class="wp_mainscreen-title my-5">TEACHING</h1>
    <h5
      class="wp_mainscreen-subtitle mt-3"
      style="margin-right: -14px;">分享&nbsp;&nbsp;&nbsp;共</h5>
  </div>
  <div class="col-8 d-flex justify-content-center align-items-start flex-column" style="background-color: #87B3BF;">
    <h1 class="wp_mainscreen-title my-5" style="color: white;">RESOURCES</h1>
    <h5
      class="wp_mainscreen-subtitle mt-3"
      style="color: white; margin-left: -12px;">創&nbsp;&nbsp;&nbsp;演進</h5>
    <img
      id="mainscreen-icon"
      src="../../../../assets/img/resources/mainscreen_icon@2x.png"
      alt="Mainscreen Icon">
  </div>
</div>
<div id="res-dev-area">
  <h3 class="wp_themed-h3">教材發展模式</h3>
  <h4 class="wp_themed-h4">核心價值</h4>
  <h3 class="wp_themed-h5">分享</h3>
  <div>
    <p>所有資源提供社群教師自由客製、修改、散布</p>
  </div>
  <h3 class="wp_themed-h5">共創</h3>
  <div>
    <p>計畫提供之教學資源並非做為標準，而是做為種子</p>
    <p>讓有興趣之社群教師、專家一同修改、共創、完備與改善</p>
  </div>
  <h3 class="wp_themed-h5">演進</h3>
  <div>
    <p>搜集維護教材在不同學校學生程度領域的應用、教學經驗與教法</p>
    <p>教材模組教材隨實施經驗、背景時空、技術進展而持續演進發展</p>
  </div>
  <img
    id="res-dev-icon"
    src="../../../../assets/img/resources/res-dev_icon@2x.png"
    alt="Resource Development Icon">
</div>
<div class="my-5 card-deck">
  <div class="card wp_rounded-card">
    <div class="card-body">
      <h5 class="card-title text-center wp_card-title">情境分析</h5>
      <div class="wp_card-context pt-4">
        <p class="card-text">進行領域專家座談</p>
        <p class="card-text">探究專業領域屬性</p>
        <p class="card-text">了解時空社會背景</p>
        <p class="card-text">匯集成員教學經驗</p>
        <p class="card-text">教學資源盤點</p>
      </div>
    </div>
  </div>
  <div class="card wp_rounded-card">
    <div class="card-body">
      <h5 class="card-title text-center wp_card-title">策略規劃</h5>
      <div class="wp_card-context pt-4">
        <p class="card-text">釐清優勢與挑戰</p>
        <p class="card-text">擬訂執行重點與策略</p>
        <p class="card-text">擬定教材特色與開發<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;規範</p>
      </div>
    </div>
  </div>
  <div class="card wp_rounded-card">
    <div class="card-body">
      <h5 class="card-title text-center wp_card-title">情境分析</h5>
      <div class="wp_card-context pt-4">
        <p class="card-text">教材規範</p>
        <p class="card-text">教材綱要</p>
        <p class="card-text">教材模組</p>
        <p class="card-text">實作模組</p>
        <p class="card-text">教學工具</p>
        <p class="card-text">定期教材研發會議</p>
      </div>
    </div>
  </div>
  <div class="card wp_rounded-card">
    <div class="card-body">
      <h5 class="card-title text-center wp_card-title">實施、評估與改善</h5>
      <div class="wp_card-context pt-4">
        <p class="card-text">內外部審查</p>
        <p class="card-text">內外部試教</p>
        <p class="card-text">教材發佈</p>
        <p class="card-text">種子教師訓練</p>
        <p class="card-text">教材使用回饋</p>
      </div>
    </div>
  </div>
</div>
<div id="module-01-area" style="margin-top: 100px;">
  <h3 class="wp_themed-h3">教材模組（第一期）</h3>
  <h4 class="wp_themed-h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
  <table class="table table-hover wp_res-table">
    <thead>
      <tr>
        <th scope="col">類型</th>
        <th scope="col">模組名稱</th>
        <th scope="col">時數</th>
        <th scope="col">難易度</th>
        <th scope="col">備註</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>基礎</th>
        <td>HTML / CSS</td>
        <td>3</td>
        <td>★</td>
        <td>Web應用程式先備知識</td>
      </tr>
      <tr>
        <th>應用</th>
        <td>響應式網頁設計（Bootstrap）</td>
        <td>6</td>
        <td>★</td>
        <td>HTML與CSS的實際應用，可用於引起學生興趣</td>
      </tr>
      <tr>
        <th>基礎</th>
        <td>Javascript基礎</td>
        <td>12</td>
        <td>★</td>
        <td>變數、運算元、流程控制、字串處理</td>
      </tr>
      <tr>
        <th>進階</th>
        <td>Javascript函式</td>
        <td>5</td>
        <td>★★</td>
        <td>函式宣告、定義與呼叫</td>
      </tr>
      <tr>
        <th>進階</th>
        <td>Javascript陣列</td>
        <td>4</td>
        <td>★★</td>
        <td>陣列建立、元素提取與修改、排序操作</td>
      </tr>
      <tr>
        <th>進階</th>
        <td>Javascript物件</td>
        <td>6</td>
        <td>★★★</td>
        <td>進階程式設計概念</td>
      </tr>
      <tr>
        <th>基礎</th>
        <td>網頁文件結構（DOM）</td>
        <td>6</td>
        <td>★★★</td>
        <td>Web應用程式先備知識（操作、改變HTML DOM）</td>
      </tr>
      <tr>
        <th>基礎</th>
        <td>DOM+事件通知概念（Event）</td>
        <td>6</td>
        <td>★★</td>
        <td>DOM事件模型、jQuery初步應用</td>
      </tr>
      <tr class="tfooter">
        <th>小計</th>
        <td></td>
        <td>51</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div id="module-02-area" style="margin-top: 100px;">
  <h3 class="wp_themed-h3">教材模組（第二期）</h3>
  <h4 class="wp_themed-h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
  <table class="table table-hover wp_res-table">
    <thead>
      <tr>
        <th scope="col">類型</th>
        <th scope="col">模組名稱</th>
        <th scope="col">時數</th>
        <th scope="col">難易度</th>
        <th scope="col">備註</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>基礎</th>
        <td>HTML / CSS</td>
        <td>3</td>
        <td>★</td>
        <td>Web應用程式先備知識</td>
      </tr>
      <tr>
        <th>應用</th>
        <td>響應式網頁設計（Bootstrap）</td>
        <td>6</td>
        <td>★</td>
        <td>HTML與CSS的實際應用，可用於引起學生興趣</td>
      </tr>
      <tr>
        <th>基礎</th>
        <td>Javascript基礎</td>
        <td>12</td>
        <td>★</td>
        <td>變數、運算元、流程控制、字串處理</td>
      </tr>
      <tr>
        <th>進階</th>
        <td>Javascript函式</td>
        <td>5</td>
        <td>★★</td>
        <td>函式宣告、定義與呼叫</td>
      </tr>
      <tr>
        <th>進階</th>
        <td>Javascript陣列</td>
        <td>4</td>
        <td>★★</td>
        <td>陣列建立、元素提取與修改、排序操作</td>
      </tr>
      <tr>
        <th>進階</th>
        <td>Javascript物件</td>
        <td>6</td>
        <td>★★★</td>
        <td>進階程式設計概念</td>
      </tr>
      <tr>
        <th>基礎</th>
        <td>網頁文件結構（DOM）</td>
        <td>6</td>
        <td>★★★</td>
        <td>Web應用程式先備知識（操作、改變HTML DOM）</td>
      </tr>
      <tr>
        <th>基礎</th>
        <td>DOM+事件通知概念（Event）</td>
        <td>6</td>
        <td>★★</td>
        <td>DOM事件模型、jQuery初步應用</td>
      </tr>
      <tr class="tfooter">
        <th>小計</th>
        <td></td>
        <td>51</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>