<div class="row wp_mainscreen" style="height: calc(100vh - 70px);">
  <div class="col-4 d-flex justify-content-center align-items-end flex-column">
    <h1
      class="wp_mainscreen-title"
      style="margin-right: -12px;">VID</h1>
      <hr class="wp_left">
    <img src="../../../assets/img/videos/icon-left@2x.png" alt="Icon 1">
  </div>
  <div class="col-8 d-flex justify-content-center align-items-start flex-column" style="background-color: #758AB2;">
    <h1 class="wp_mainscreen-title" style="color: white; margin-left: 0px;">EOS</h1>
    <hr class="wp_right">
    <img src="../../../assets/img/videos/icon-right@2x.png" alt="Icon 2">
  </div>
</div>
<div class="wp_video-area">
  <div class="row wp_video">
    <div class="col-6">
      <img src="../../../assets/img/videos/video_1@2x.png" alt="Video 1" class="wp_video-thumb">
    </div>
    <div class="col-6 d-flex flex-column justify-content-center">
      <h5>推廣大學程式設計交流會 精華版</h5>
      <p>發佈日期：2019年4月30日</p>
    </div>
  </div>
  <div class="row wp_video">
    <div class="col-6">
      <img src="../../../assets/img/videos/video_2@2x.png" alt="Video 1" class="wp_video-thumb">
    </div>
    <div class="col-6 d-flex flex-column justify-content-center">
      <h5>資料分析與程式設計：通識取向的課程發展與教學經驗</h5>
      <p>發佈日期：2019年3月24日</p>
    </div>
  </div>
  <div class="row wp_video">
    <div class="col-6">
      <img src="../../../assets/img/videos/video_3@2x.png" alt="Video 1" class="wp_video-thumb">
    </div>
    <div class="col-6 d-flex flex-column justify-content-center">
      <h5>App教學研發推廣－使用App Inventor 2</h5>
      <p>發佈日期：2019年3月24日</p>
    </div>
  </div>
  <div class="row wp_video">
    <div class="col-6">
      <img src="../../../assets/img/videos/video_4@2x.png" alt="Video 1" class="wp_video-thumb">
    </div>
    <div class="col-6 d-flex flex-column justify-content-center">
      <h5>WEB領域教學研發推廣</h5>
      <p>發佈日期：2019年3月24日</p>
    </div>
  </div>
  <div class="row wp_video">
    <div class="col-6">
      <img src="../../../assets/img/videos/video_5@2x.png" alt="Video 1" class="wp_video-thumb">
    </div>
    <div class="col-6 d-flex flex-column justify-content-center">
      <h5>互動設計領域教學研發推廣團隊－「玩電玩，學程式」磨課師課程介紹</h5>
      <p>發佈日期：2019年3月24日</p>
    </div>
  </div>
</div>